:root {
  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);

  --active: hsl(245, 83%, 68%);
}

/* --- CSS RESET --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* --- FONT ---  */
@font-face {
  font-family: "Red Hat Display";
  src: url(./assets/font/RedHatDisplay-VariableFont_wght.ttf)
    format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

html {
  font-size: 62.5%;
  height: 100%;
  /* max-width: 1440px; */
}
/* --- BODY ---  */
body {
  font-family: "Red Hat Display";
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background-image: url("./assets/images/pattern-background-mobile.svg");
  background-size: 2000px;
  background-repeat: repeat-x;
}
.main-container {
  min-width: 329px;
  max-width: 452px;
  border-radius: 23px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 20px 30px rgba(30, 31, 205, 0.23);
}
.hero__illustration img {
  width: 100%;
}
section.content {
  display: grid;
  place-content: center;
  padding: 32px 25px 0;
}
.content__wrapper {
  max-width: 354px;
}
.content__title h1 {
  color: var(--darkBlue);
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 29px;
  text-align: center;
}
.content__paragraph {
  color: var(--desaturatedBlue);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 0.01em;
  line-height: 25px;
}

.content__plan__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
  border-radius: 10px;
  padding: 18px 16px;
  background-color: var(--veryPaleBlue);
}

.plan__card__left {
  display: flex;
  align-items: center;
  gap: 19px;
}

.plan__card__left .price h2 {
  color: var(--darkBlue);
  font-size: 1.5rem;
  font-weight: 900;
}
.plan__card__left .price p {
  color: var(--desaturatedBlue);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 21px;
}
.plan__card__right a {
  color: var(--brightBlue);
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 19px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}
.plan__card__right a:hover {
  color: var(--active);
  text-decoration: none;
}
.content__payment-button button {
  color: var(--white);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01em;
  background: var(--brightBlue);
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  transition: 0.2s;
  background: #382ae1;
  box-shadow: 0px 20px 30px rgba(30, 31, 205, 0.23);
}
.content__payment-button button:hover {
  background: var(--active);
}
.content__cancel-order {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 33px;
}
.content__cancel-order a {
  color: var(--desaturatedBlue);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.content__cancel-order a:hover {
  color: var(--darkBlue);
  font-weight: 900;
}
@media (min-width: 400px) {
  .content__title h1 {
    font-size: 2.8rem;
  }
  .content__paragraph,
  .plan__card__left .price h2,
  .plan__card__left .price p {
    font-size: 1.6rem;
  }

  .content__plan__card {
    margin-top: 30px;
  }
  .content__payment-button button {
    margin-top: 38px;
  }
  .content__cancel-order {
    margin-top: 32px;
  }
}

@media (min-width: 480px) {
  body {
    background-image: url("./assets/images/pattern-background-desktop.svg");
    background-size: auto;
    background-position-y: -40px;
  }
  .content__cancel-order {
    padding-bottom: 48px;
  }
}
